@model ApplicationUser
<h1>Search Student</h1>
<form method="post" asp-action="SearchStudent" asp-controller="Student">
	<div class="input-group">
        <input type="search"  class="form-control rounded" placeholder="Search" name="Stuname" aria-label="Search" aria-describedby="search-addon" />
		<button type="submit" class="btn btn-outline-primary">search</button>
	</div>
</form>
<br />

@if(TempData["Message"]?.ToString() != null)
{
    <span class="text-danger">@TempData["Message"]?.ToString()</span>
}
@if(Model != null)
{
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Name</th>
                <td>@Model.PhoneNumber</td>
                <td>@Model.Email</td>
                <td>
                    <a class="btn btn-outline-success" asp-action="AddExistingStudent" asp-controller="CRUDStudent" asp-route-stuid="@Model.Id" role="button" style="margin-right : 20px">Add</a>
                </td>
            </tr>
        </tbody>
    </table>
}
