@model List<ApplicationUser>
@{
    ViewData["Title"] = "AttendancePage";
}

<h1>Attendance</h1>
@if (TempData["Message"] != null)
{
    if (TempData?.Peek("Message")?.ToString() == "Attendance has been registered")
    {
        <span class="text-success">@TempData.Peek("Message")</span>
    }
    else
    {
        <span class="text-danger">@TempData.Peek("Message")</span>
    }
}
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
            <tr>
                <th scope="row">@student.Name</th>
                <td>
                    <a class="btn btn-outline-primary" asp-action="IsStudentPresent" asp-controller="Student" asp-route-stuid="@student.Id" asp-route-ispresent="@true" role="button" style="margin-right : 20px">Present</a>
                    <a class="btn btn-outline-danger" asp-action="IsStudentPresent" asp-controller="Student" asp-route-stuid="@student.Id" asp-route-ispresent="@false" role="button" style="margin-right : 20px">Not Present</a>
                </td>
            </tr>
        }
    </tbody>
</table>


